/* body{
    background-color: pink;
} */

/* navbar */
.navbar{
    height:5rem;
    background-color: white;
}
.fa-compass{
    color:#fe424d;
    font-size:2rem;

}
.nav-link{
     /* custom styling ko prefer rather than bootstrap */
    color:#222222 !important;
}